In [7]:
print("Halo Adick Adick", end=" ")
print("wehehehe")
print("Python A6")

Halo Adick Adick wehehehe
Python A6

In [9]:
print(1,2,3,4 , sep="*")

1 2 3 4

In [10]:
x = 5
y = 10
print("x =", x, "y =", y)

x = 5 y = 10

In [15]:
z = 2.183
print("z = %.2f" %z)

z = 2.18

In [6]:
x = input("Masukkan sebuah angka = ")
x = int (x)
print ( x + 10 )

510

In [7]:
import math

a,b = input().split()

a = int(a)
b = int(b)

print(math.sqrt(a*b))

10.0

In [8]:
x = 10

if(x==10):
    print("Sepuluh")
else:
    print("bukan sepuluh")

Sepuluh

In [9]:
x = 5

if (x==1) :
    print("satu")
elif (x==2) :
    print("dua")
else:
    print("bukan 1 dan 2")

bukan 1 dan 2

In [11]:
x = 2
z = 1

if (x==1 and z==1) :
    print("satu satu")
elif (x==2 or z==2) :
    print("dua atau dua")
else:
    print("bukan 1, 2")

dua atau dua

In [14]:
x = range (1, 5)
print (x)

range(1, 5)

In [15]:
for x in range(1,5):
    print(x," ", end='')
print()

1  2  3  4

In [16]:
for x in range(1,5,2):
    print(x," ", end='')
print()

1  3

In [ ]:
for x in range(5,1,-1):
    print(x," ", end='')
print()

In [18]:
for x in range(1, 11):
    if (x % 3 ==0) :
        print(x, end=" ")

3 6 9

In [20]:
print("Batas = ")
batas = int(input())
for b in range (1, batas+1): # b => Baris, arahnya ke Bawah
    for k in range (1, batas+1):  # k => Kolom, arahnya ke Kanan
        print(k," ", sep="", end="")
    print("")

Batas =
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [21]:
print("Batas = ")
batas = int(input())
for b in range (1, batas+1): # b => Baris, arahnya ke Bawah
    for k in range (1, b+1):  # k => Kolom, arahnya ke Kanan
        print(k," ", sep="", end="")
    print("")

Batas =
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [25]:
print("Batas = ", end="")
batas = int(input())

a = int(a)
a = 1
while ( a <= batas ) : #=> selama nilai a <= batas, loop akan jalan
    print(a," ", sep="", end="")
    a = a + 1

Batas = 1 2 3 4 5

In [26]:
teb = 0
ans = 7

while(teb != ans) :
    print("tebakanmu = ")
    teb = int(input())
    
    if(teb != ans) :
        print("salah !")
    else:
        print("benar !")

tebakanmu =
benar !

In [27]:
#BREAK
#untuk menghentikan perulangan, mengabaikan semua perintah dibawahnya
for a in range(1, 11):
    if(a%3 ==0):
        break
    print(a, " ", sep="", end="");

#CONTINUE
#untuk melanjutkan perulangan, mengabaikan semua perintah dibawahnya
for a in range(1, 11):
    if(a%3 ==0):
        continue
    print(a, " ", sep="", end="");

1 2 1 2 4 5 7 8 10

In [4]:
n = 0
while(True) :
    n = int(input())
    if(n==-1):
        break;
    print(n, " ", sep="", end="");

1 2 4 6